
html, body {
    margin:0;
    padding:0;
    top:0;
    left:0;
    height:100%;
    width:100%;
    overflow:hidden
}

.svg_area {
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-color: rgba(130, 131, 130, 0.11);
    opacity: 0.5;
}

.Q1 {
    float: top;
    width: 200px;
    height: 100px;
    margin: 1em;
    /*background-color: #288079;*/
    opacity: 0.7;

}

.A1 {
    float: right;
    width: 200px;
    height: 100px;
    margin: 1em;
    display: none;
    /*background-color: #f272ff;*/
    opacity: 0.7;

}



.Q2 {
    position: relative;
    width: 200px;
    height: 100px;
    margin: 1em;

    /*background-color: #288079;*/
    opacity: 0.7;

}

.A2 {
    position: relative;
    width: 200px;
    height: 100px;
    margin: 1em;
    display: none;

    /*background-color: #f272ff;*/
    opacity: 0.7;

}

.Q3 {
    position: relative;
    width: 200px;
    height: 100px;
    margin: 1em;

    background-color: #288079;
    opacity: 0.7;

}

.A3 {
    position: relative;
    width: 200px;
    height: 100px;
    margin: 1em;
    display: none;
    background-color: #f272ff;
    opacity: 0.7;

}